@-webkit-keyframes magicAnimation {  
    0% { color: black; background-color: white; }
    50% { color: black; background-color: white; }
    51% { color: white; background-color: black; }
    100% { color: white; background-color: black; }
}

.magic-color {
    color : white;
    background-color: black;
    -webkit-animation-name: magicAnimation;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}